<!DOCTYPE html>
<html>
<head>
  <title>Edit Request</title>
  <link rel="stylesheet" type="text/css" href="edit.css">
</head>
<body>
  <h1>Editing Request</h1>

  <p>
    <strong>Subject:</strong>
    <%= @request.subject %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @request.description %>
  </p>

  <%= form_with model: @request, url: request_path do |form| %>
    <p>
      <strong>State:</strong>
      <%= form.select :state, options_for_select(["new", "in progress", "done"]) %>
    </p>

    <div class="actions-edit">
     <%= form.submit %>
    </div>
  <% end %>

  <%= link_to 'Show', @request %> |
  <%= link_to 'Back', requests_path %> |
  <%= link_to "Log out", logout_path, method: "delete" %>
</body>
</html>
