<% page_title "Requests | sofatech" %>
<div class="request-container">
  <p id="notice"><%= notice %></p>

  <% unless current_user.admin? %>
    <%= link_to 'New Request', new_request_path %>
  <% end %>

  <h1>Requests</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Subject</th>
        <th>Description</th>
        <th>State</th>
        <th>Date</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @requests.each_with_index do |request, index| %>
        <tr <%= 'style="display:none;"' if index >= 5 %>>
          <td><%= request.user.username %></td>
          <td><%= request.subject %></td>
          <td><%= request.description %></td>
          <td><%= request.state %></td>
          <td><%= request.created_at.strftime('%d %b %Y %H:%M') %></td>
          <td>
            <%= link_to 'Show', request_path(request) %> |
            <%= link_to 'Edit', edit_request_path(request) if current_user.admin? %> |
            <%= link_to 'Delete', request, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="show-more-less">
    <a href="#" id="show-more">Show More</a>
    <a href="#" id="show-less" style="display: none;">Show Less</a>
  </div>
</div>