<p id="notice"><%= notice %></p>

<h3> Danke
    <%= current_user.username + " für deine Anfragen. Wir kümmern uns schnellstmöglich darum." %>
  </h3>

<p>
  <strong>Subject:</strong>
  <%= @request.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @request.state %>
</p>

<p>
  <strong>Date:</strong>
  <%= @request.created_at.strftime('%d %b %Y %H:%M') %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %> |
<%= link_to "Log out", logout_path, method: "delete" %>
