<!DOCTYPE html>
<html>
<head>
  <title>Show Request</title>
  <link rel="stylesheet" type="text/css" href="show.css">
</head>
<body>
  <%= render partial: 'shared/header' %>

  <div id="show-page">
    <div class="page-banner">
      <h3> Hey, <%= current_user.username + "!" " Danke für deine Anfrage." %> <br> <br> Wir kümmern uns schnellstmöglich darum! </h3>
    </div>

    <table class="container-edit">
      <tr class="table-row">
        <td><strong>Subject:</strong></td>
        <td><%= @request.subject %></td>
      </tr>
      <tr class="table-row">
        <td><strong>Description:</strong></td>
        <td><%= @request.description %></td>
      </tr>
      <tr class="table-row">
        <td><strong>State:</strong></td>
        <td><%= @request.state %></td>
      </tr>
      <tr class="table-row">
        <td><strong>Date:</strong></td>
        <td><%= @request.created_at.strftime('%d %b %Y %H:%M') %></td>
      </tr>
      <tr>
        <table class="options-edit">
          <%= link_to 'Edit', edit_request_path(@request), class: 'button-edit' %> |
          <%= link_to 'Requests', requests_path, class: 'button' %> |
          <%= link_to 'Log out', logout_path, method: :delete, class: 'button' %>
        </td>
      </tr>
    </table>
  </div>

  <%= render partial: 'shared/footer' %>
</body>
</html>
